# Telegram Bot Configuration
BOT_TOKEN="8802355967:AAF7BdpHMN8Q0YmtXf_eykA9GGFaQuOMgIQ"

# Multi-Admin Configuration (Comma-separated or individual IDs)
ADMIN_IDS="998812534,8420880825,8520722787"

# Database & Server Config
PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/dinora_db?schema=public"
FRONTEND_WEB_URL="http://localhost:5173"
ADMIN_CARD_NUMBER="8600000000000000"
ADMIN_CARD_HOLDER="DINORA A."
JWT_SECRET="DINORA_SUPER_SECURE_JWT_SECRET_KEY_2026_PRODUCTION"
JWT_EXPIRES_IN="30d"
ALLOWED_ORIGINS="http://localhost:5173,http://localhost:5174"
