# Server Configuration
PORT=5000
NODE_ENV=development

# Telegram Bot Configuration
BOT_TOKEN="Bot_token"
ADMIN_ID1="Admin_1"
ADMIN_ID2="Admin_2"
ADMIN_CHANNEL_ID="Admin_channel_id"

# Database Configuration
DATABASE_URL="DATABASE_URL"
